@page "/{org}/{game}/share/help"
@model GameShareHelpPage
@{
  Current.Page.Title = $"Share - {Current.Game.Name}";
  Current.Page.HeaderPartial = "Layout/Default/Header/BackToGame";

  var xData = new {
    view = "github",
  };
}

<div x-data-from="xData">

    <card class="mb-16">
      <card-header>
        <card-title>Sharing your Game/Tool</card-title>
      </card-header>
      <card-body>
        <p>
          There are 2 options for sharing your game (or tool) at play.void.dev:
        </p>
        <ul class="list-decimal list-inside p-4 space-y-1">
          <li>Using a GitHub Action</li>
          <li>Using a Deploy Script</li>
        </ul>
        <div class="flex gap-2" x-cloak>
          <button class="btn" x-bind:class="'btn-' + (view == 'github' ? 'primary' : 'secondary')" x-on:click="view='github'">GitHub Action</button>
          <button class="btn" x-bind:class="'btn-' + (view == 'script' ? 'primary' : 'secondary')" x-on:click="view='script'">Deploy Script</button>
        </div>
      </card-body>
    </card>

    <card x-show="view == 'github'" x-cloak="true">
      <card-header>
        <card-title>Share via a GitHub Action</card-title>
      </card-header>
      <card-body>
        <div class="border-2 border-primary-100 bg-primary-50 text-large text-primary-800 p-4 mb-4">
          Below are the instructions for sharing your game (or tool) automatically whenever you
          commit new changes to the <code>main</code> branch of your GitHub repository using
          a <a class="link" href="https://github.com/vaguevoid/actions">GitHub Action Workflow</a>
        </div>
        <ol class="list-decimal list-inside space-y-1 ml-4">
          <li>
            copy your
            <a class="link" href="@Url.ProfilePage()">personal access token</a>
            as a <code>VOID_ACCESS_TOKEN</code>
            <a class="link" target="_other" href="https://docs.github.com/en/actions/security-for-github-actions/security-guides/using-secrets-in-github-actions#creating-secrets-for-a-repository">GitHub Repository Secret</a>
          </li>
          <li>
            copy the contents of the <code>deploy.yml</code> workflow below to your game directory as <code>./github/workflows/deploy.yml</code>
          </li>
          <li>
            commit your changes
          </li>
        </ol>
        <div class="mt-8">
          <clipboard content="@Model.GitHubActionCode" label="copy to clipboard"></clipboard>
        </div>
        <pre class="block overflow-auto border border-gray-200 bg-white mt-2 px-4">
          <code class="block unstyled">@Model.GitHubActionCode</code>
        </pre>
        <div class="border-2 border-primary-100 bg-primary-50 text-large text-primary-800 p-4 my-4">
          Your new deploy action will now run every time you commit or merge new code into
          the <code>main</code> branch.
        </div>
      </card-body>
    </card>

    <card x-show="view == 'script'" x-cloak="true">
      <card-ribbon class="bg-danger-200 text-danger-800">deprecated</card-ribbon>
      <card-header>
        <card-title>Share via a Deploy Script</card-title>
      </card-header>
      <card-body>
        <div class="border-2 border-danger-100 bg-danger-50 text-large text-danger-900 p-4 mb-2">
          <b>WARNING</b>: Mac or Linux only
        </div>
        <div class="border-2 border-primary-100 bg-primary-50 text-large text-primary-800 p-4 mb-4">
          Below are the instructions for sharing your game (or tool) manually from the command
          line using a custom deploy script
        </div>
        <ol class="list-decimal list-inside ml-4">
          <li>
            Copy your <a class="link" href="@Url.ProfilePage()">personal access token</a>
            into the file <code>~/.config/void/token</code>
          </li>
          <li>
            Download the <code>./deploy</code> script below to your game directory
          </li>
          <li>
            Make the <code>./deploy</code> script executable via <code>chmod u+x deploy</code>
          </li>
        </ol>
        <div class="mt-8">
          <clipboard content="@Model.DeployScriptCode" label="copy to clipboard"></clipboard>
        </div>
        <pre class="block overflow-auto border border-gray-200 bg-white mt-2 px-4">
          <code class="block unstyled">@Model.DeployScriptCode</code>
        </pre>
        <div class="border-2 border-primary-100 bg-primary-50 text-large text-primary-800 p-4 my-4">
          With your <code>~/.config/void/token</code> and <code>./deploy</code> script in place you can now run
          <code>./deploy [LABEL]</code>
          to build, upload, and playtest a build of your game. The URL for your game will be printed to the console.
        </div>
      </card-body>
    </card>

</div>
